.bubble {
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    width: fit-content;
    gap: 10px;
}

/* Send/Received Bubbles time common properties */
.received_bubble p:nth-child(2),
.send_bubble p:nth-child(2) {
    margin-top: 10;
    font-size: small;
    align-self: flex-end;
}

.received_bubble {
    background: var(--grey);
}

.send_bubble {
    background: var(--primary);
    color: var(--white);
}

.send_bubble p:nth-child(2) {
    color: var(--white);
}

.received_bubble p:nth-child(2) {
    color: var(--dark-grey);
}